<div *ngIf="dropping">
    <label class="uploader" 
        (drop)="handleDrop($event)" 
        (click)="handleTyping($event)"
        ondragover="return false;"
        [class.loaded]="loaded" 
        (dragenter)="handleDragEnter()"
        (dragleave)="handleDragLeave()">
        <img 
            [src]="imageSrc" 
            (load)="handleImageLoad()" 
            [class.loaded]="imageLoaded"/>
        
        <input type="file" name="file" accept="image/*" class="inputfile">
        <div *ngIf="requestSent && !contentLoaded">
            <md-spinner></md-spinner>
        </div>

    </label>
</div>
<div *ngIf="typing">
    <tag-input [(ngModel)]='searchTags' [identifyBy]="'id'" [displayBy]="'name'" placeholder="Enter ingredients. By clicking Enter you can add multiple ingredients"     
    [class.loaded]="loaded" 
    (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()"
    (drop)="handleDrop($event)"
    (click)="handleTyping($event)">
    </tag-input>
    <button md-raised-button (click)="recipesWithKeyWords(searchTags)" class="searchButton">Search</button>
    <div *ngIf="requestSent && !contentLoaded">
        <md-spinner></md-spinner>
    </div>
</div>
<div *ngIf="searchedFor">
    You are searched for {{searchedFor}}
</div>
<div class="recipes">
    <recipe [recipes]=response></recipe>
</div>
<div *ngIf="searchingTag && recipesWithTags">
    <a (click)="getMoreRecipesWithTags()">Get more recipes </a>
</div>

<div *ngIf="recongizedFile && recipesWithImage">
    <a (click)="getMoreRecipesWithImage()">Get more recipes </a>
</div>

<div *ngIf="ifMobile()">
    <div *ngIf="typing">
        <tag-input [(ngModel)]='searchTags' [identifyBy]="'id'" [displayBy]="'name'" placeholder="Enter ingredients By clicking Enter you can add multiple ingredients or drag a photo"     
        [class.loaded]="loaded" 
        (dragenter)="handleDragEnter()"
        (dragleave)="handleDragLeave()"
        (drop)="handleDrop($event)"
        (click)="handleTyping($event)">
        </tag-input>
        <button md-raised-button (click)="recipesWithKeyWords(searchTags)">Search</button>
        <div *ngIf="requestSent && !contentLoaded">
            <md-spinner></md-spinner>
        </div>
    </div>

    <input #fileInput type="file" name="file" accept="image/*">
    <button md-raised-button (click)="submitPicture()">Search</button>
    <div *ngIf="searchedFor">
      You are searched for {{searchedFor}}
    </div>
    <recipe [recipes]=response></recipe>
</div>
