<div class="header-fixed">

    <div class="header-limiter">

        <h1><a [routerLink]="['/']">Snap<span>meal</span></a></h1>

        <nav *ngIf="auth.loggedIn()">
            <a [routerLink]="['/']">Home</a>
            <a [routerLink]="['/profile']">Profile</a>
            <a [routerLink]="['/login']" (click)="logOut()">Logout</a>
        </nav>
        <nav *ngIf="!auth.loggedIn()">
            <a [routerLink]="['/']">Home</a>
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/register']">Sing Up</a>
        </nav>

    </div>

</div>
