<carousel>
  <slide>
  </slide>
</carousel>

<file-uploader></file-uploader>
<hr>
<div class="container-fluid">
<br/>
    <!-- /.row -->

    <hr>
    <div *ngIf="loading">
        <md-spinner></md-spinner>
    </div>
    <div *ngIf="response && !loading">
        <recipe [recipes]=response></recipe>
    </div>
    <div *ngIf="errors && !loading">
        <img src="https://media.npr.org/assets/img/2016/03/29/ap_090911089838_sq-3271237f28995f6530d9634ff27228cae88e3440-s1100-c15.jpg">
    </div>
    <hr>
</div>