<div class="vid-container" *ngIf="!auth.loggedIn()">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://coverr.co/s3/mp4/Egg-Shop.mp4" type="video/webm">
  </video>
  <div class="inner-container">
<!--     <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://coverr.co/s3/mp4/Egg-Shop.mp4" type="video/webm">
    </video> -->
    <div class="box">
      <h1>Login</h1>
      <div *ngIf="auth.ifError">
        <span> Wrong Creds</span>
      </div>
      <input type="text" name="username" [(ngModel)]="username" placeholder="Username"/>
      <input type="password" name="password" [(ngModel)]="password" placeholder="Password"/>
      <button (click)="onLogin(username, password, email)">Login</button>
      <div *ngIf="loading" display="block" text-align="center">
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </div>
      <p>Not a member? <span><a [routerLink]="['/register']">Sign Up</a></span></p>
    </div>
  </div>
</div>

<div class="logout" *ngIf="auth.loggedIn()">
	<button (click)="logOut()">Are you leaving? :(</button>
</div>