<div *ngIf="response">
    <md-grid-list cols="4" rowHeight="500px">
        <md-grid-tile
            *ngFor="let recipes of response"
            [colspan]="2"
            [rowspan]="1"
            [style.background]="lightblue">
            {{recipes.recipe.name}} <br />
            <img src="http://i.imgur.com/U0keZyj.png" alt="Smiley face" width="150" height="150">
            {{recipes.recipe.description}} <br />
            <div *ngFor="let ingredient of recipes.recipe.ingredients">
                <strong>{{ingredient.name}}</strong>
            </div>
            <div class="raiting">
                <rating [(ngModel)]="recipes.rating"
                        [max]="5"
                        (click)="setRecipeRating(recipes.rating, recipes.recipe.id)"
                        [titles]="['one', 'two', 'three', 'four', 'five']">
                </rating>
                {{recipes.rating}}
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>