
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjVl7eosjUFvCHhTiM-Zsv2VlMBYVxtvxEeQToDnC81JyC5nyb9w" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <div *ngIf="user">
                            {{user.username}}
                        </div>    
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a (click)="userOverview()">
                            <i class="glyphicon glyphicon-home"></i>
                            Overview </a>
                        </li>
                        <li>
                            <a (click)="userRecommendedRecipes()">
                           <i class="glyphicon glyphicon-user"></i>
                            Recommended recipes</a>
                        </li>
                        <li>
                            <a (click)="userLikedRecipes()">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            Liked Recipes </a>
                        </li>
                        <li>
                            <a (click)="userDietsFunc()">
                            <i class="glyphicon glyphicon-apple"></i>
                            Diets </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div *ngIf="settings">
                
                </div>
                <div *ngIf="overview">
                    <div *ngIf="user">
                        <div class="panel panel-default">
                            <div class="panel-heading">Your firstname</div>
                            <div class="panel-body">{{user.firstname}}</div>
                        </div>

                       <div class="panel panel-default">
                            <div class="panel-heading">Your lastname</div>
                            <div class="panel-body">{{user.lastname}}</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Your email</div>
                            <div class="panel-body">{{user.email}}</div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Your username</div>
                            <div class="panel-body">{{user.username}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="likedRecipes">
                    <div *ngIf="recipes">
                        <recipe [recipes]=recipes></recipe>
                    </div>
                    <div *ngIf="errors">
                        You havent liked any recipes yet :(.
                    </div>
                </div>
                <div *ngIf="userDiets">
                    <div *ngIf="diets">
                        <div *ngFor="let userDiet of diets">
                            <div class="radio">
                                <label><input type="radio" name="diet" value="userDiet.name" (change)="selectDietPlan(userDiet.name)"  [checked]="diet === diet" >{{userDiet.name}}</label>
                            </div>
                            {{userDiet.description}}
                        </div>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="diet" value="" (change)="selectDietPlan()"  [checked]="diet === diet" >No diet</label>
                    </div>
                </div>
                <div *ngIf="recommendedRecipe">
                    <div *ngIf="recommendedRecipes">
                        <recipe [recipes]=recommendedRecipes></recipe>
                    </div>
                    <div *ngIf="recommendedRecipesFailed">
                        We couldnt get recommentations for you. Please click 
                        <a (click)="getRandomRecipes()">here</a>
                    </div>

                    <div *ngIf="recipesToLike" class="randomRecipes">
                        <recipe [recipes]=recipesToLike></recipe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>