

<div class="image-header">
	<button (click)="toogleUsers()">{{showUsers ? "Hide Users" : "Show Users"}}</button>
	<div *ngIf="showUsers">
	    <div *ngFor="let user of users">
	        Username: {{user.username}} With email
	        {{user.email}}
	    </div>
	</div>
</div>
<h1>Upload a file </h1>
<input #fileInput type="file"/>
<button (click)="addFile()" class="btn-default btn-lg">Add</button>
<div *ngIf="recipes">
		<div *ngFor="let recipe of recipes.content">
			<ul>
				<li><strong>{{recipe.id}}</strong></li>
				<li><strong>{{recipe.name}}</strong></li>
				<li><strong>{{recipe.description}}</strong></li>
				<p> With ingredients </p>
				<li *ngFor="let ingredient of recipe.ingredient">
					<strong>{{ingredient.name}}</strong>
				</li>
			</ul>
		</div>
</div>
<img src="http://imgur.com/CQCkYtF.png" height="200" width="200">
<!-- Page Content -->
<div class="container-fluid">

<div>
    	<input type="radio" name="diet" value="vegan" [(ngModel)]="diet" (change)="selectDietPlan()">Vegan<br />
    	<input type="radio" name="diet" value="vegetarian" [(ngModel)]="diet" (change)="selectDietPlan()">Vegetarian<br />
    	<input type="radio" name="diet" value="null"																																																												 [(ngModel)]="diet" (change)="selectDietPlan()">Ya dont wanna a diet mate<br />
</div>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <h2>What We Do</h2>
            <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
            <p>
                <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
            </p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-md-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #1</h2>
            <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #2</h2>
            <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
       <div class="col-md-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
       <div class="col-md-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
       <div class="col-md-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>

    </div>
    <!-- /.row -->

    <hr>
</div>